:host {
    --height: 100px;
    height: var(--height);
    min-height: var(--height);
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #202329;
    position: relative;
}

svg {
    position: absolute;
    fill: #F0F0F0;
    height: 100%;
}

h1 {
    z-index: 1;
    user-select: none;
}