:host {
  --bg-color: #ffffff;
  --menu-width: 220px;

  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.dropdown-trigger {
  position: relative;
  border: none;
  height: 100%;
  width: var(--menu-width);
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--bg-color);
  font-size: 1em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dropdown-trigger::after {
  content: '';
  width: 80%;
  min-height: 5px;
  background: radial-gradient(
    circle at center,
    var(--portal-color-dark) 0%,
    var(--portal-color-medium) 40%,
    var(--portal-color-light) 60%
  );

  transform: scaleX(0);
  transition: transform 0.3s ease;
  filter: blur(1px);
  border-radius: 50%;
}

.dropdown-trigger:hover::after {
  transform: scaleX(1);
}

.menu-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  pointer-events: none;
  cursor: pointer;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
  z-index: 1;
}

.dropdown-menu.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.dropdown-item {
  width: var(--menu-width);
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8);
  background-color: var(--bg-color);
}

.dropdown-item span {
  z-index: 1;
}

.dropdown-item:hover {
  box-shadow:
    0 0 10px var(--portal-color-medium),
    0 0 20px var(--portal-color-dark),
    inset 0 0 15px rgba(0, 0, 0, 0.4);

  transform: scale(1.05);
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  animation: portalPulse 1.5s infinite ease-in-out;
  z-index: 1;
}

.dropdown-item::before {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    var(--portal-color-dark),
    var(--portal-color-medium) 50%,
    var(--portal-color-light) 80%
  );
  z-index: -1;
  filter: blur(5px);
  transition: opacity 0.3s ease;
  pointer-events: none;
  opacity: 0;
}

.dropdown-item:hover::before {
  opacity: 1;
}

@keyframes portalPulse {
  0% {
    box-shadow:
      0 0 10px var(--portal-color-medium),
      0 0 20px var(--portal-color-dark);
  }
  50% {
    box-shadow:
      0 0 20px var(--portal-color-light),
      0 0 40px var(--portal-color-medium);
  }
  100% {
    box-shadow:
      0 0 10px var(--portal-color-medium),
      0 0 20px var(--portal-color-dark);
  }
}
