:host {
    min-height: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #202329;
    width: 100%;
    color: #9E9E9E;
    font-weight: 800;
}

:host span {
    user-select: none;
}